<!DOCTYPE html>
<html lang="en">
    <head>    
        <meta charset="UTF-8">
        <meta name="viewport" content = "width=device-width, initial-scale=1.0">

        <title>Todo App</title>    
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css')}}" />  
    </head>    
<body>    
    <h1>Mongo Todo App</h1>
    <hr>    
    <form id="new-task-form" action="/action" method="POST">    
        <div class="none">       
            <td><input id="new-task-input" type="text" name="content" placeholder="Enter a new task" ></td>    
            <td><button id="new-task-submit" type="submit"> Submit </button></td>    
        </form>    
    </div> 
    <hr>
    <h2>Tasks </h2>
    <div class="task-list">
        {% for todo in todos %}    
        <div id="tasks">
            <div class="task">
                <input id="task-input" type="text" placeholder=" {{ todo['content'] }} " style=" visibility: {{ todo['visibility']}}  ">
            
            <div class="actions">    
                <td><a href="./done?_id={{ todo['_id'] }}"><button id="done" title="Click to hide entry" type="submit">DONE</button></a></td>
                <td><a href="./delete?_id={{ todo['_id'] }}"><button id="delete" type="submit">DELETE</button></a></td>    
                <td><a href="./update?_id={{ todo['_id'] }}"><button id="edit" type="submit">EDIT</button></a></td>    
            </div>
        </div>
        {% endfor %}  
        </div>
        </div>  
   
</body>    
</html>
