<!DOCTYPE html>
<html lang="en">
    <head>    
        <meta charset="UTF-8">
        <meta name="viewport" content = "width=device-width, initial-scale=1.0">

        <title>Todo App</title>    
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css')}}" />  
    </head>    
    <body>    
        <h1>Edit Todo Task</h1>    
        <hr>   
        <p hidden>{% for task in tasks %}    
            ID : {{ task['_id'] }}<br/>  </p>  
        <form id="new-task-form" action="/updatedata" method="POST">    

            <div class="none">       
                <td><input id="new-task-input" type="text" name="name" value="{{ task['content'] }}" placeholder="{{ task['content'] }}" ></td>            
                <td><button id="new-task-submit" type="submit"> Update Task </button></td>    
        </form>    
        </div>    
        {% endfor %} 
        <a href="/">Return to TaskList</a>    
</body>    
</html>
